.DS_Store
*.out
volumes/*
# .env # FIXME: Enable this for production
__pycache__
backend/transc/__pycache__
backend/transc/transc/__pycache__
backend/transc/transc/__pycache__/*
*.swp
tests/results/*
tests/.build
# platform specific make config for docker (optional)
docker.mk

# VS Code/Codium config
.vscode

# Python virtual environment
.venv