.DS_Store
*.out
volumes/*
.env
__pycache__
backend/transc/__pycache__
backend/transc/transc/__pycache__
backend/transc/transc/__pycache__/*
*.swp
tests/results/*
tests/.build

# TODO: Is it better to ingore this?
backend/transc/api/migrations