#Invidual settings
DATA_DIR=
VOLS_DIR=
BACKEND_VOLUME=
DATABASE_VOLUME=
FRONTEND_VOLUME=

#POSTGRES DB
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_URL=

#backend
#prisma
DATABASE_URL=