#DJANGO
DJANGO_SECRET_KEY='django-insecure-o#-u0^+c1x)k0q54emh!))+8#u)c$y(8$mrbhl9z_k)(p^g*54'
DJANGO_DEBUG=true
DJAGNO_MEDIA_URL=/media/

#POSTGRES DB
POSTGRES_USER=dummy
POSTGRES_PASSWORD=dummy
POSTGRES_DB=dummy
#POSTGRES_PORT=5432
POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_DB}:${POSTGRES_PORT}

#REDIS
REDIS_HOST=redis