:root {
    --COLOR1: #070320ff;
    --COLOR2: #071de4ff;
    --COLOR3: #26ffe6ff;
    --COLOR4: #caa7f5ff;
}

.boxstyling {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
    /* height: 100vh; */
    /* width: 100%; */
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
}

.box {
    box-sizing: border-box;
    margin: 0;
    width: 80%;
    padding: 30px;
    background-color: white;
}

thead {
    --bs-table-bg: var(--COLOR1);
    --bs-table-color: white;
}