:root {
    --COLOR1: #070320ff;
    --COLOR2: #071de4ff;
    --COLOR3: #26ffe6ff;
    --COLOR4: #caa7f5ff;
    --header-height: 72px;
}

.boxstyling {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    height: 100%;
    width: 100%;
}

.box {
    width: 100%;
    padding: 30px;
    max-height: calc(100vh - var(--header-height) - 88px);
    background-color: white;
    overflow: auto;
}

thead {
    --bs-table-bg: var(--COLOR1);
    --bs-table-color: white;
}

@media (max-width: 991px) {
    :root {
        --header-height: 110px;
    }
}

@media (max-width: 767px) {
    :root {
        --header-height: 158px;
    }
}